# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual environment
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm project files
.idea/

# macOS system files
.DS_Store

# Logs and temp files
*.log
*.temp
*.tmp
*.out

# Cache files
.cache/
coverage/
*.cover
*.coverage
.cache
coverage.xml
*.coveragerc

# Media files (if you have temporary media files you don’t want to commit)
*.wav
*.mp4
*.avi
*.mov
*.mkv
*.mp3
*.flac
*.ogg
*.aac

# Dependency files
*.lock

# Migrations (if using Django or similar frameworks)
*/migrations/

# Test result files
test-results/
.tox/
.nox/
*.pytest_cache/

# IDE specific
/.idea/
*.sublime-workspace
*.sublime-project

# Windows specific
Thumbs.db
Desktop.ini
